@import "fuentes";
@import "reseteo";
@import "mediasquerys";

$colBlanco: #fff;
$colGeneral: rgb(125, 137, 247);

@mixin sizeImage($width, $height, $max-height, $opacity) {
    width: $width;
    height: $height;
    max-height: $max-height;
    opacity: $opacity;
}

body {

    header {
        .bg-image {
            @include sizeImage(100%, 400px, 400px, 0.8);
        }
    }

    /* Estilo y animacion del navbar */
    .nav-item {
        margin: 5px;
        font-size: large;
        color: $colBlanco !important;

        &:hover {
            background-color: $colGeneral;

            animation: pulse;
            animation-duration: 2s;
        }

        .nav-item a {
            font-size: large;
            color: $colBlanco !important;
        }

    }

    .active {
        background-color: $colGeneral;
    }

    /* Estilo y animacion de imagenes card-img */
    .card-img-top:hover {
        animation: heartBeat;
        animation-duration: 2s;
    }

    footer a {
        text-decoration: none;
    }
}